*.py[cod]

# C extensions
*.so

# Packages
*.egg*
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
cover
cover-master
.tox
nosetests.xml
.testrepository
.venv
.stestr

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

# Complexity
output/*.html
output/*/index.html

# Sphinx
doc/build
doc/source/_static/

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
.*.swp
.*sw?
*.DS_Store

# Files created by releasenotes build
releasenotes/build

# generated config file
etc/zun/zun.conf.sample

# generated policy file
etc/zun/policy.yaml.sample
