[[local|localrc]]
HOST_IP=10.0.0.11 # change this to your IP address
DATABASE_PASSWORD=password
RABBIT_PASSWORD=password
SERVICE_TOKEN=password
SERVICE_PASSWORD=password
ADMIN_PASSWORD=password
enable_plugin zun https://opendev.org/openstack/zun $TARGET_BRANCH
enable_plugin zun-tempest-plugin https://opendev.org/openstack/zun-tempest-plugin

# This below plugin enables installation of container engine on Devstack.
# The default container engine is Docker
enable_plugin devstack-plugin-container https://opendev.org/openstack/devstack-plugin-container $TARGET_BRANCH
# This enables CRI plugin for containerd
ENABLE_CONTAINERD_CRI=True

# Optional:  uncomment to enable Kata Container
# ENABLE_KATA_CONTAINERS=True

# In Kuryr, KURYR_CAPABILITY_SCOPE is `local` by default,
# but we must change it to `global` in the multinode scenario.
KURYR_CAPABILITY_SCOPE=global
KURYR_PROCESS_EXTERNAL_CONNECTIVITY=False
enable_plugin kuryr-libnetwork https://opendev.org/openstack/kuryr-libnetwork $TARGET_BRANCH

# install python-zunclient from git
LIBS_FROM_GIT="python-zunclient"

# Optional:  uncomment to enable the Zun UI plugin in Horizon
# enable_plugin zun-ui https://opendev.org/openstack/zun-ui $TARGET_BRANCH

# Optional:  uncomment to enable the Heat plugin for container orchestration
# enable_plugin heat https://opendev.org/openstack/heat $TARGET_BRANCH
